.input-style {
    width: 150px;
        /* 根据内容自动调整宽度 */
    border: none;
    /* 移除边框 */
    background-color: transparent;
    /* 透明背景 */
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    /* 字体大小 */
    color: inherit;
    /* 继承文字颜色 */
    outline: none;
    /* 移除聚焦时的轮廓 */
    /* height: 20px; */
    font-family: Amazon Ember;
    letter-spacing: 0px;
    text-align: left;
    color: #002F36;    
}


.input-style-large {
    width: 200px;
    /* 根据内容自动调整宽度 */
    border: none;
    /* 移除边框 */
    background-color: transparent;
    /* 透明背景 */
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    /* 字体大小 */
    color: inherit;
    /* 继承文字颜色 */
    outline: none;
    /* 移除聚焦时的轮廓 */
    /* height: 20px; */
    font-family: Amazon Ember;
    letter-spacing: 0px;
    text-align: left;
    color: #002F36;
}

/* .text-right{
    text-align: right !important;
} */


.textarea-style {
    resize: none;
    /* 禁用用户手动调整大小 */
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #002F36;
    font-family: "Amazon Ember", sans-serif;
    letter-spacing: 0px;
    text-align: left;
    overflow-wrap: break-word;
    border: none;
    /* 移除边框 */
    background-color: transparent;
    overflow: hidden;
        /* 隐藏滚动条 */
}

.text-center{
    text-align: center !important;
}


.text-gray{
    color: #667575 !important
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width: 90%;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    background-color: #fefefe;
}

.form-horizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.input-group {
    display: flex;
    margin-right: 10px;
    /* Add some space between the input groups */
}

.input-group label {
    margin-right: 5px;
}

.input-group textarea {
    /* width: 20%; */
    height: 400px;
    /* Fixed width for textarea */
}




.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}