body,
html {
    min-width: 1280px;
    width: 100%
}

.banner {
    background-color: #694b46
}

.cc-truck {
    height: 120px;
    width: 160px
}

.home-divider {
    height: 40px
}

.home-divider {
    height: 15px
}

.nav {
    background-color: #232f3e
}

.welcome-text {
    color: #FFF;
    font-size: 250%
}

.full-width {
    width: 100%
}

.nav-selected {
    color: #eeb933
}

.nav-default {
    color: #f2941b
}

.footer-nav {
    font-size: 13px
}

input[disabled],
textarea[disabled] {
    background-color: #f4f3f0
}

.text-align-right {
    text-align: right
}

.orange-text {
    color: #ff8c00
}

.remove-decoration {
    text-decoration: none !important
}

.multi-lines {
    white-space: pre-line
}

.float-right {
    float: right !important
}

.pointer-cursor {
    cursor: pointer
}

.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
    display: none !important
}

.hidden-info {
    display: none
}

img {
    vertical-align: middle !important
}

.country-dropdown-label-flag {
    padding-bottom: 1vh
}

.info-icon {
    vertical-align: middle !important
}